{% include "header.html" %}
{% include "sidebar.html" %}
{% include "menufooternav.html" %}
{% include "topnavigation.html" %}


<!-- page content -->
<div class="right_col" role="main">
  <div class="">
    <div class="page-title">
      <div class="title_left">
        <h3>Add <small>fakenews provider</small></h3>
      </div>

    </div>

    <div class="clearfix"></div>
    
      <div class="container">
            <form action="/brandstopwordscreate" method="post">
              <hr>
              <div class="form-group">
                <label for="querykeywords">Keyword</label>  
                <input class="form-control" name="querykeywords" placeholder="Keyword"></input>
              </div>
                <hr>
                <hr>
              <div class="form-group">
                <label for="language">Language</label>
                <input type="text" class="form-control" name="language" placeholder="What languages"></input>
              </div>
                <hr>
                <br>
                <br>
                <input type="submit" value="Add"></input>
            </form>
            </div>
        <hr>
      </div> <!-- /container -->
    </div>

    {% include "footer.html" %}
    