{% include "header.html" %}
{% include "sidebar.html" %}
{% include "menufooternav.html" %}
{% include "topnavigation.html" %}


<!-- page content -->
<div class="right_col" role="main">
  <div class="">
    <div class="page-title">
      <div class="title_left">
        <h3>Add <small>fakenews provider</small></h3>
      </div>

      <div class="title_right">
        <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search for...">
            <span class="input-group-btn">
              <button class="btn btn-secondary" type="button">Go!</button>
            </span>
          </div>
        </div>
      </div>
    </div>

    <div class="clearfix"></div>
    
      <div class="container">
            <form action="/fakenewscreate" method="post">
              <hr>
              <div class="form-group">
                <label for="keyword">Keyword</label>  
                <input class="form-control" name="keyword" placeholder="Keyword"></input>
              </div>
                <hr>
              <div class="form-group">
                <label for="campaign">Campaign</label>  
                <input type="text" class="form-control" name="campaign" placeholder="Campaign Name"></input>
              </div>
                <hr>
              <div class="form-group">
                <label for="language">Language</label>
                <input type="text" class="form-control" name="language" placeholder="What languages"></input>
              </div>
                <hr>
              <div class="form-group">
                <label for="country">Country</label>
                <input type="text" class="form-control" name="country"  placeholder="Country"></input>
              </div>
                <br>
                <br>
                <input type="submit" value="Add"></input>
            </form>
            </div>
        <hr>
      </div> <!-- /container -->
    </div>

    {% include "footer.html" %}
    