flask
flask-mail
flask-wtf
firebase_admin
google-api-python-client
google-cloud-secret-manager
google-auth
google-auth-oauthlib
google-cloud-logging
werkzeug
waitress
pytz
oauthlib
requests
requests-oauthlib
flask-ckeditor
codecarbon
folium
numpy
pandas
geopandas
requests
folium
email_validator
