{% include "header.html" %}
{% include "sidebar.html" %}
{% include "menufooternav.html" %}
{% include "topnavigation.html" %}

<!-- page content -->
<div class="right_col" role="main">
  <div class="">
    <div class="page-title">
      <div class="title_left">
        <h3>List <small>of Brand Links</small></h3>
      </div>
    </div>

    <div class="clearfix"></div>

    <div class="container">
    <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for message in messages %}
              {{ message }}
          {% endfor %}
        {% endif %}
      {% endwith %}
      <hr>
        <!-- Example row of columns -->
        <div class="row">
            <div class="card" id="output">
                <div class="card-body">
                    <a class="btn btn-sm btn-success" href="/brandlinksadd" title="Add" ><i class="glyphicon glyphicon-pencil"></i> Add Another Link</a>
                    <br />
                    <br />
                      <table id="listdata" class="table table-striped" style="width:100%;">
                        <thead>
                          <tr>
                            <th scope="col">Status</th>
                            <th scope="col">Title</th>
                            <th scope="col">Country</th>
                            <th scope="col">Date</th>
                            <th scope="col">Search Term</th>
                            <th scope="col">Shop URL</th>
                            <th style="width:200px;">Action</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% if output %}
                            {% for ngo in output %}
                            <tr>
                              <td>
                                {% if ngo.status == True %}
                                  <a class="btn btn-sm btn-success" href="/brandlinksactive?id={{ ngo.docid }}" title="Edit">Active</a>
                                {% else %}
                                  <a class="btn btn-sm btn-danger" href="/brandlinksactive?id={{ ngo.docid }}" title="Edit" >Inactive</a>
                                {% endif %}
                              </td>
                              <td>{{ ngo.title }}</td>
                              <td>{{ ngo.country }}</td>
                              <td>{{ ngo.date }}</td>
                              <td>{{ ngo.category }}</td>
                              <td><a href="{{ ngo.url }}" target="_blank">{{ ngo.shop }}</a></td>

                              <td>
                                <a class="btn btn-sm btn-success" href="/brandlinksedit?id={{ ngo.docid }}" title="Edit" ><i class="glyphicon glyphicon-pencil"></i> Edit</a>
                                <a class="btn btn-sm btn-danger" href="/brandlinksdelete?id={{ ngo.docid }}" title="Delete">Delete</a>
                              </td>
                            </tr>
                            {% endfor %}
                          {% endif %}      
                        </tbody>
                      </table>
                    </div>
                </div>
            </div>
        </div>
        <hr>
      </div> <!-- /container -->
    </div>
    {% block scripts %}
    <script>
      $(document).ready( function () {
            var table = $('#listdata').dataTable({
                "fixedHeader": false,
                "colReorder": false,
                "responsive": true,
                "sPaginationType": "full_numbers",
                "bLengthChange": true,
                "aLengthMenu": [[5, 10, 15, 20, -1], [5, 10, 15, 20, , "All"]],
                "iDisplayLength": 20,
                "aaSorting": [1, 'asc'],
                "dom": 'Blfrtip',
                "bProcessing": true,
                buttons: [
                    'copy', 'csv'
                ],
                columns: [
                  {data: 'active'},
                  {data: 'title'},
                  {data: 'country'},
                  {data: 'date'},
                  {data: 'category'},
                  {data: 'url'},
                  {data: 'action', orderable: false}
              ]
          });
    } );

  </script>
    {% endblock scripts %}

    {% include "footertable.html" %}