{% include "header.html" %}
{% include "sidebar.html" %}
{% include "menufooternav.html" %}
{% include "topnavigation.html" %}

<!-- page content -->
<div class="right_col" role="main">
  <div class="">
    <div class="page-title">
      <div class="title_left">
        <h3>Details <small>Merchant Products</small></h3>
      </div>
    </div>

    <div class="clearfix"></div>

<!--blog start-->

<section>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <!-- Blog Card -->
        <div class="card border-0 bg-transparent">
          {% if output %}
          <div class="position-absolute bg-white shadow-primary text-center p-2 rounded ms-3 mt-3">
            <br>{{output.timestamp}}
          </div>
          <hr>
          <br>
          <div class="card-body pt-5 px-0" style="max-height:450px; max-width:450px; overflow: hidden">
            <img class="card-img-top shadow rounded" src="{{output.item_image_url}}" alt="Image">
          </div>
          <div class="card-body pt-5 px-0">
            <h2 class="font-weight-medium">
              {{output.item_image_title}}
              </h2>
          </div>
          <blockquote class="card bg-primary-soft border-0 p-5 mt-5 shadow">
            Shop: {{output.shop}}
            <span class="text-primary mt-2">Seller: {{output.seller}}</span>
            <span class="text-primary mt-2">Location: {{output.seller}}</span>
            <span class="text-primary mt-2">Contact Seller: {{output.contact_seller}}</span>
            <span class="text-primary mt-2">Visit Store: <a href="{{ output.item_url }}"  target="_blank">{{ output.shop }}</a></span>
          </blockquote>
            {% endif %}
          <div></div>
        </div>
        <!-- End Blog Card -->
      </div>
    </div>
  </div>
</section>
</div>
<!-- End Main Content Wrapper -->

<!--blog end-->

</div>

<!--body content end-->

{% include "footer.html" %}
