
{% include "header.html" %}
{% include "sidebar.html" %}
{% include "menufooternav.html" %}
{% include "topnavigation.html" %}


<!-- page content -->
<div class="right_col" role="main">
  <div class="">
    <div class="page-title">
      <div class="title_left">
        <h3>Edit <small>fakenews list</small></h3>
      </div>
    </div>

    <div class="clearfix"></div>
      <div class="container">
            <form action="/fakenewsupdate" method="post">
              <input type="hidden" name="id" value="{{ ngo.docid }}">
              <hr>
              <div class="form-group">
                <label for="keyword">Keyword</label>
                <input name="keyword" class="form-control" value="{{ ngo.keyword }}"></input>
              </div>
                <hr>
              <div class="form-group">
                <label for="campaign">Campaign</label>
                <input type="text" class="form-control" name="campaign" value="{{ ngo.campaign }}"></input>
              </div>
                <hr>
              <div class="form-group">
                <label for="language">Language</label>
                <input type="text" class="form-control" name="language" value="{{ ngo.language }}"></input>
              </div>
                <hr>
              <div class="form-group">
                <label for="contactpoint">Country</label>
                <input type="text" class="form-control" name="country" value="{{ ngo.country }}"></input>
              </div>
                <br>
                <br>
                <input type="submit" value="Update"></input>
            </form>
            </div>
        <hr>
      </div> <!-- /container -->
    </div>

    {% include "footer.html" %}
