
{% include "header.html" %}
{% include "sidebar.html" %}
{% include "menufooternav.html" %}
{% include "topnavigation.html" %}

<!-- page content -->
<div class="right_col" role="main">
  <div class="">
    <div class="page-title">
      <div class="title_left">
        <h3>Edit <small>fakenews list</small></h3>
      </div>

    </div>

    <div class="clearfix"></div>
      <div class="container">
            <form action="/brandstopwordsupdate" method="post">
              <input type="hidden" name="id" value="{{ ngo.docid }}">
              <hr>
              <div class="form-group">
                <label for="querykeywords">Query Keyword</label>
                <input tyep="text" name="querykeywords" class="form-control" value="{{ ngo.querykeywords }}"></input>
              </div>
                <hr>
              <div class="form-group">
                <label for="campaign">Language</label>
                <input type="text" class="form-control" name="language" value="{{ ngo.language }}"></input>
              </div>
                <hr>
                <br>
                <br>
                <input type="submit" value="Update"></input>
            </form>
            </div>
        <hr>
      </div> <!-- /container -->
    </div>

    {% include "footer.html" %}
