            <!-- sidebar menu -->
            <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
              <div class="menu_section">
                <h3>Home</h3>
                <ul class="nav side-menu">
                  <li><a><i class="fa fa-clone"></i>Dashboard<span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="{{ url_for('dashboardblue.main') }}">Dashboard</a></li>
                    </ul>
                  </li>
                </ul>
              </div>
              <div class="menu_section">
                  <h3>General</h3>
                  <ul class="nav side-menu">
                    <li><a><i class="fa fa-clone"></i> Your Brand<span class="fa fa-chevron-down"></span></a>
                      <ul class="nav child_menu">
                        <li><a href="{{ url_for('brandsblue.brandsearchquery') }}">Search Query</a></li>
                        <li><a href="{{ url_for('brandsblue.brandstopwords') }}">Stop Words</a></li>
                        <li><a href="{{ url_for('brandsblue.brandlinks') }}">Links</a></li>
                        <li><a href="{{ url_for('brandsblue.brandlinkdetails') }}">Details</a></li>
                        <li><a href="{{ url_for('brandsblue.brandmap') }}">Map</a></li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </div>
              <!-- /sidebar menu -->
  